.gray {
  color: $gray;
}

.broken-white {
  color: $broken-white;
}

.top-left {
  position: relative;
  top: 5px;
  right: 90px;
}

.bottom-right {
  position: relative;
  bottom: 5px;
  left: 90px;
}

.fa-rotate-45 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container {
  @include flex-box(center, flex-start, column, flex);
  padding-right: 10%;
  width: 65%;
  height: 100vh;
}
