// sass --watch public/resources/scss/main.scss:public/resources/css/main.css

// Importing helper scss files
@import "helper/variables";
@import "helper/mixins";
@import "helper/placeholders";

@import "sections/menu";
@import "sections/home";

html {
  width: 100%;
  font-size: 16px;
  color: $white;
  background-color: $black;
  font-family: 'Montserrat', sans-serif;
}
