// sass --watch public/resources/scss/main.scss:public/resources/css/main.css

// Importing helper scss files
@import "helper/variables";
@import "helper/mixins";
@import "helper/placeholders";

@import "sections/menu";
@import "sections/home";
@import "sections/about-me";
@import "sections/skills";
@import "sections/portfolio";
@import "sections/contact";

html {
  width: 100%;
  font-size: 16px;
  color: $white;
  background-color: $black;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

.gray {
  color: $gray;
}

.broken-white {
  color: $broken-white;
}

.container {
  @include flex-box(center, flex-start, column, flex);
  width: 80%;
  height: 100%;
}

.next-btn {
  position: absolute;
  bottom: 0;
  cursor: pointer;
  z-index: 40;

  i {
    color: $broken-white;
  }
}
