#navigation-out {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  position: fixed;
  z-index: 100;
  width: 20%;
  min-width: 220px;
  left: -30%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  border-right: 3px solid $broken-white;
  box-shadow: 1px 0 15px $black;
  transition: border-right 400ms ease;

  @include mq($breakpoint1) {
    display: none;
  }

  .nav-content {
    @include flex-box(flex-start, flex-start, column, flex);
    align-self: center;
    width: 100%;

    .nav-header {
      @include flex-box(flex-start, stretch, column, flex);
      padding: 2rem 0 2rem 15%;

      span {
        font-size: 2rem;
        font-weight: 600;
      }
    }

    .nav-links {
      @include flex-box(flex-start, stretch, column, flex);
      width: 100%;

      .slider, .home, .about-me, .skills, .portfolio, .contact {
        border-bottom: 3px solid $broken-white;
        transition: border-bottom 400ms ease;
      }

      .slider {
        &:hover {
          border-bottom: 3px solid $gray;
        }
      }

      .home {
        &:hover {
          border-bottom: 3px solid $home;
        }
      }

      .about-me {
        &:hover {
          border-bottom: 3px solid $about-me;
        }
      }

      .skills {
        &:hover {
          border-bottom: 3px solid $skills;
        }
      }

      .portfolio {
        &:hover {
          border-bottom: 3px solid $portfolio;
        }
      }

      .contact {
        &:hover {
          border-bottom: 3px solid $contact;
        }
      }

      ul {
        @include flex-box(flex-start, stretch, column, flex);


        a {
          @include flex-box(flex-start, center, row, flex);
          color: $broken-white;
          text-decoration: none;
          font-size: 1.25rem;
          font-weight: 500;
          line-height: 1.5;

          .icon {
            @include flex-box(center, stretch, row, flex);
            width: 15%;
            color: rgba(0, 0, 0, 0);
            transition: color 400ms ease;
          }
        }
      }
    }
  }
}

#navigation-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  width: 5%;
  min-width: 75px;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  border-right: 3px solid $broken-white;
  box-shadow: 1px 0 15px $black;
  transition: border-right 400ms ease;

  @include mq($breakpoint1) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    top: 0;
    width: 100%;
    height: auto;
    min-width: auto;

  }

  a {
    width: 100%;
    padding: 20px 0 20px 0;
    text-align: center;
  }

  .slider-bt, .home-bt, .about-me-bt, .skills-bt, .portfolio-bt, .contact-bt {
    @include flex-box(center, center, row, flex);
    width: 100%;
    margin: 10px 0 10px 0;
    border-top: 3px solid $broken-white;
    border-bottom: 3px solid $broken-white;
    transition: border-top 400ms ease, border-bottom 400ms ease;

    @include mq($breakpoint1) {
      margin: 0;
    }

    i {
      color: $broken-white;
    }
  }

  .slider-bt {
    &:hover {
      border-top: 3px solid $gray;
      border-bottom: 3px solid $gray;
    }

    @include mq($breakpoint1) {
      display: none;
    }
  }

  .home-bt {
    &:hover {
      border-top: 3px solid $home;
      border-bottom: 3px solid $home;
    }
  }

  .about-me-bt {
    &:hover {
      border-top: 3px solid $about-me;
      border-bottom: 3px solid $about-me;
    }
  }

  .skills-bt {
    &:hover {
      border-top: 3px solid $skills;
      border-bottom: 3px solid $skills;
    }
  }

  .portfolio-bt {
    &:hover {
      border-top: 3px solid $portfolio;
      border-bottom: 3px solid $portfolio;
    }
  }

  .contact-bt {
    &:hover {
      border-top: 3px solid $contact;
      border-bottom: 3px solid $contact;
    }
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);

  @include mq($breakpoint1) {
    display: none;
  }
}
