#portfolio {
  @include flex-box(flex-end, stretch, row, flex);
  position: relative;
  box-sizing: border-box;
  background-image: url(../images/bg-portfolio.jpg);
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  border-right: 3px solid $portfolio;

  .p-row {
    @include flex-box(center, center, row, flex);
    width: 100%;
    height: 100vh;
    .p-col {
      @include flex-box(flex-start, stretch, column, flex);
      width: 30%;
      .p-item {
        @include flex-box(center, center, row, flex);
        box-sizing: content-box;
        border: 2px solid $broken-white;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
        width: 90%;
        height: 20rem;
        margin: 1rem;
        cursor: pointer;
        transition: background-color 500ms ease;

        &:hover {
          background-color: rgba(238, 246, 255, 0.3);

          .p-item-box {
            @include flex-box(flex-start, stretch, row, flex);
            box-sizing: content-box;
            width: 90%;
            height: 90%;
          }
        }
      }
    }
  }
}
