#portfolio {
  @include flex-box(flex-end, stretch, row, flex);
  position: relative;
  box-sizing: border-box;
  background-image: url(../images/bg-portfolio.jpg);
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  border-right: 3px solid $portfolio;

  .p-row {
    @include flex-box(center, center, row, flex);
    display: none;
    width: 100%;
    height: 50vh;

    .p-item {
      @include flex-box(center, center, row, flex);
      position: relative;
      box-sizing: content-box;
      border: 1px solid $broken-white;
      //box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
      width: 90%;
      height: 40vh;
      margin: 1rem;
      cursor: pointer;
      transition: background-color 500ms ease;

      &:hover {
        background-color: rgba(238, 246, 255, 0.2);
      }

      &:hover::before {
        transform: scale(1.05, 1);
      }

      &:hover::after {
        transform: scale(1, 1.05);
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: -1px;
        right: -1px;
      }

      &::before {
        border-top: 1px solid $portfolio;
        border-bottom: 1px solid $portfolio;
        transform: scale(0, 1);
        transition: transform ease-out 250ms;
      }

      &::after {
        border-left: 1px solid $portfolio;
        border-right: 1px solid $portfolio;
        transform: scale(1, 0);
        transition: transform ease-out 250ms;
      }

      h2 {
        text-shadow: 1px 1px 6px $black;
        font-size: 1.1rem;
      }
    }
  }

  .p-info {
    @include flex-box(flex-start, stretch, row, flex);
    width: 100%;
    height: 80vh;

    h1 {
      color: $broken-white;
      font-size: 1.75rem;
      font-weight: 500;
      text-shadow: 1px 1px 6px $black;
    }

    .p-col-left {
      width: 70%;
    }

    .p-col-right {
      width: 30%;
      height: 100%;
      opacity: 0.8;

      img {
        width: auto;
        max-height: 100%;
        border: 1px solid $broken-white;
      }
    }
  }
}
