#portfolio {
  @include flex-box(flex-end, stretch, row, flex);
  position: relative;
  box-sizing: border-box;
  background-image: url(../images/bg-portfolio.jpg);
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  border-right: 3px solid $portfolio;
}
