.gray {
  color: #666666; }

.broken-white {
  color: #eef6ff; }

.container {
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  padding-right: 10%;
  width: 65%;
  height: 100vh; }

#navigation-out {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  position: fixed;
  z-index: 100;
  width: 20%;
  left: 0;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  border-right: 3px solid #eef6ff;
  box-shadow: 1px 0 15px #000000;
  transition: border-right 400ms ease; }
  #navigation-out .nav-content {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    display: flex;
    align-self: center;
    width: 100%; }
    #navigation-out .nav-content .nav-header {
      justify-content: flex-start;
      align-items: stretch;
      flex-direction: column;
      display: flex;
      padding: 2rem 0 2rem 15%; }
      #navigation-out .nav-content .nav-header span {
        font-size: 2rem;
        font-weight: 600; }
    #navigation-out .nav-content .nav-links {
      justify-content: flex-start;
      align-items: stretch;
      flex-direction: column;
      display: flex;
      width: 100%; }
      #navigation-out .nav-content .nav-links .slider, #navigation-out .nav-content .nav-links .home, #navigation-out .nav-content .nav-links .about-me, #navigation-out .nav-content .nav-links .skills, #navigation-out .nav-content .nav-links .portfolio, #navigation-out .nav-content .nav-links .contact {
        border-bottom: 3px solid #eef6ff;
        transition: border-bottom 400ms ease; }
      #navigation-out .nav-content .nav-links .slider:hover {
        border-bottom: 3px solid #666666; }
      #navigation-out .nav-content .nav-links .home:hover {
        border-bottom: 3px solid #112f41; }
      #navigation-out .nav-content .nav-links .about-me:hover {
        border-bottom: 3px solid #068587; }
      #navigation-out .nav-content .nav-links .skills:hover {
        border-bottom: 3px solid #4fb99f; }
      #navigation-out .nav-content .nav-links .portfolio:hover {
        border-bottom: 3px solid #f2b134; }
      #navigation-out .nav-content .nav-links .contact:hover {
        border-bottom: 3px solid #ed553b; }
      #navigation-out .nav-content .nav-links ul {
        justify-content: flex-start;
        align-items: stretch;
        flex-direction: column;
        display: flex; }
        #navigation-out .nav-content .nav-links ul a {
          justify-content: flex-start;
          align-items: center;
          flex-direction: row;
          display: flex;
          color: #eef6ff;
          text-decoration: none;
          font-size: 1.25rem;
          font-weight: 500;
          line-height: 1.5; }
          #navigation-out .nav-content .nav-links ul a .icon {
            justify-content: center;
            align-items: stretch;
            flex-direction: row;
            display: flex;
            width: 15%;
            color: rgba(0, 0, 0, 0);
            transition: color 400ms ease; }

#navigation-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  width: 5%;
  left: -6%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  border-right: 3px solid #eef6ff;
  box-shadow: 1px 0 15px #000000;
  transition: border-right 400ms ease; }
  #navigation-in a {
    width: 100%;
    padding: 20px 0 20px 0;
    text-align: center; }
  #navigation-in .slider-bt, #navigation-in .home-bt, #navigation-in .about-me-bt, #navigation-in .skills-bt, #navigation-in .portfolio-bt, #navigation-in .contact-bt {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: flex;
    width: 100%;
    margin: 10px 0 10px 0;
    border-top: 3px solid #eef6ff;
    border-bottom: 3px solid #eef6ff;
    transition: border-top 400ms ease, border-bottom 400ms ease; }
    #navigation-in .slider-bt i, #navigation-in .home-bt i, #navigation-in .about-me-bt i, #navigation-in .skills-bt i, #navigation-in .portfolio-bt i, #navigation-in .contact-bt i {
      color: #eef6ff; }
  #navigation-in .slider-bt:hover {
    border-top: 3px solid #666666;
    border-bottom: 3px solid #666666; }
  #navigation-in .home-bt:hover {
    border-top: 3px solid #112f41;
    border-bottom: 3px solid #112f41; }
  #navigation-in .about-me-bt:hover {
    border-top: 3px solid #068587;
    border-bottom: 3px solid #068587; }
  #navigation-in .skills-bt:hover {
    border-top: 3px solid #4fb99f;
    border-bottom: 3px solid #4fb99f; }
  #navigation-in .portfolio-bt:hover {
    border-top: 3px solid #f2b134;
    border-bottom: 3px solid #f2b134; }
  #navigation-in .contact-bt:hover {
    border-top: 3px solid #ed553b;
    border-bottom: 3px solid #ed553b; }

#home {
  justify-content: flex-end;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  position: relative;
  box-sizing: border-box;
  background-image: url(../images/bg-home.jpg);
  background-attachment: fixed;
  background-size: cover;
  border-right: 3px solid #112f41;
  width: 100%;
  min-height: 100vh; }
  #home h1 {
    color: #eef6ff;
    font-size: 3rem;
    font-weight: 600;
    text-shadow: 1px 1px 6px #000000;
    padding: 0 0 1rem 0; }
  #home p {
    color: #eef6ff;
    font-size: 1.75rem;
    font-weight: 500;
    text-shadow: 1px 1px 6px #000000;
    line-height: 1.3;
    border-left: 4px solid #112f41;
    margin-left: 2rem;
    padding-left: 1rem; }
  #home span {
    color: #eef6ff;
    text-shadow: 1px 1px 6px #000000;
    padding: 5rem 0 0 0;
    font-size: 0.75rem; }

#about-me {
  justify-content: flex-end;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  position: relative;
  box-sizing: border-box;
  background-image: url(../images/bg-about-me.jpg);
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  border-right: 3px solid #068587; }
  #about-me h1 {
    color: #eef6ff;
    font-size: 1.75rem;
    font-weight: 500;
    text-shadow: 1px 1px 6px #000000;
    align-self: flex-end;
    padding-bottom: 2rem; }
  #about-me img {
    width: 10rem;
    max-height: auto;
    border-radius: 50%;
    border: 2px solid #068587;
    box-shadow: 1px 0 10px #000000; }
  #about-me p {
    text-shadow: 1px 1px 6px #000000;
    font-size: 1.1rem;
    line-height: 1.3;
    border-left: 4px solid #068587;
    margin-left: 2rem;
    padding-left: 1rem; }
  #about-me li {
    text-shadow: 1px 1px 6px #000000;
    font-size: 1.1rem;
    line-height: 1.3; }
    #about-me li::before {
      content: "\2022";
      color: #068587;
      font-weight: bold;
      display: inline-block;
      width: 1rem;
      margin-left: -1rem; }
  #about-me .personally {
    width: 100%; }
    #about-me .personally .row1 {
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      display: flex;
      width: 100%; }
    #about-me .personally .row2 {
      justify-content: flex-start;
      align-items: stretch;
      flex-direction: row;
      display: flex;
      width: 100%; }
      #about-me .personally .row2 ul {
        padding: 2rem 3rem 0 5rem; }

#skills {
  justify-content: flex-end;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  position: relative;
  box-sizing: border-box;
  background-image: url(../images/bg-skills.jpg);
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  border-right: 3px solid #4fb99f; }
  #skills h1 {
    color: #eef6ff;
    font-size: 1.75rem;
    font-weight: 500;
    text-shadow: 1px 1px 6px #000000;
    line-height: 1.3;
    padding-bottom: 2rem; }
  #skills span {
    text-shadow: 1px 1px 6px #000000;
    font-size: 1.1rem;
    line-height: 1.3; }
  #skills i {
    width: 4rem;
    padding: 0.5rem 0 0.5rem 0; }
  #skills li {
    text-shadow: 1px 1px 6px #000000;
    font-size: 1.1rem;
    line-height: 1.3;
    padding: 0.8rem 0 0.8rem 0; }
    #skills li::before {
      content: "\2022";
      color: #4fb99f;
      font-weight: bold;
      display: inline-block;
      width: 1rem; }
  #skills .lists {
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: row;
    display: flex; }
    #skills .lists .list {
      border-left: 4px solid #4fb99f;
      margin-left: 2rem;
      padding-left: 1rem;
      padding-right: 3rem; }
      #skills .lists .list .item {
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        display: flex; }

#portfolio {
  justify-content: flex-end;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  position: relative;
  box-sizing: border-box;
  background-image: url(../images/bg-portfolio.jpg);
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  border-right: 3px solid #f2b134;
  overflow: hidden; }
  #portfolio .portfolio-overview {
    justify-content: flex-end;
    align-items: stretch;
    flex-direction: row;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    z-index: 20;
    right: 0; }
    #portfolio .portfolio-overview .p-row {
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      display: flex;
      position: relative;
      width: 100%;
      height: 50vh; }
      #portfolio .portfolio-overview .p-row .p-item {
        justify-content: center;
        align-items: center;
        flex-direction: row;
        display: flex;
        position: relative;
        box-sizing: content-box;
        border: 1px solid #eef6ff;
        width: 90%;
        height: 40vh;
        margin: 1rem;
        cursor: pointer;
        transition: background-color 500ms ease; }
        #portfolio .portfolio-overview .p-row .p-item:hover {
          background-color: rgba(238, 246, 255, 0.2); }
        #portfolio .portfolio-overview .p-row .p-item:hover::before {
          transform: scale(1.05, 1); }
        #portfolio .portfolio-overview .p-row .p-item:hover::after {
          transform: scale(1, 1.05); }
        #portfolio .portfolio-overview .p-row .p-item::before, #portfolio .portfolio-overview .p-row .p-item::after {
          content: '';
          position: absolute;
          top: -1px;
          bottom: -1px;
          left: -1px;
          right: -1px; }
        #portfolio .portfolio-overview .p-row .p-item::before {
          border-top: 1px solid #f2b134;
          border-bottom: 1px solid #f2b134;
          transform: scale(0, 1);
          transition: transform ease-out 250ms; }
        #portfolio .portfolio-overview .p-row .p-item::after {
          border-left: 1px solid #f2b134;
          border-right: 1px solid #f2b134;
          transform: scale(1, 0);
          transition: transform ease-out 250ms; }
        #portfolio .portfolio-overview .p-row .p-item h2 {
          text-shadow: 1px 1px 6px #000000;
          font-size: 1.1rem; }
  #portfolio .portfolio-info1,
  #portfolio .portfolio-info2,
  #portfolio .portfolio-info3,
  #portfolio .portfolio-info4,
  #portfolio .portfolio-info5,
  #portfolio .portfolio-info6 {
    justify-content: flex-end;
    align-items: stretch;
    flex-direction: row;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    right: -100%; }
    #portfolio .portfolio-info1 .p-info,
    #portfolio .portfolio-info2 .p-info,
    #portfolio .portfolio-info3 .p-info,
    #portfolio .portfolio-info4 .p-info,
    #portfolio .portfolio-info5 .p-info,
    #portfolio .portfolio-info6 .p-info {
      justify-content: flex-start;
      align-items: stretch;
      flex-direction: row;
      display: flex;
      position: relative;
      width: 100%;
      height: 80vh; }
      #portfolio .portfolio-info1 .p-info h1,
      #portfolio .portfolio-info2 .p-info h1,
      #portfolio .portfolio-info3 .p-info h1,
      #portfolio .portfolio-info4 .p-info h1,
      #portfolio .portfolio-info5 .p-info h1,
      #portfolio .portfolio-info6 .p-info h1 {
        color: #eef6ff;
        font-size: 1.75rem;
        font-weight: 500;
        text-shadow: 1px 1px 6px #000000;
        padding-bottom: 2rem; }
      #portfolio .portfolio-info1 .p-info p,
      #portfolio .portfolio-info2 .p-info p,
      #portfolio .portfolio-info3 .p-info p,
      #portfolio .portfolio-info4 .p-info p,
      #portfolio .portfolio-info5 .p-info p,
      #portfolio .portfolio-info6 .p-info p {
        color: #eef6ff;
        text-shadow: 1px 1px 6px #000000;
        font-size: 1.1rem;
        line-height: 1.3;
        border-left: 4px solid #f2b134;
        margin-left: 2rem;
        padding-left: 1rem;
        padding-right: 1rem; }
      #portfolio .portfolio-info1 .p-info span,
      #portfolio .portfolio-info2 .p-info span,
      #portfolio .portfolio-info3 .p-info span,
      #portfolio .portfolio-info4 .p-info span,
      #portfolio .portfolio-info5 .p-info span,
      #portfolio .portfolio-info6 .p-info span {
        color: #eef6ff;
        text-shadow: 1px 1px 6px #000000;
        font-size: 1.1rem;
        line-height: 1.3;
        text-decoration: none;
        position: absolute;
        bottom: 0;
        border-bottom: 2px solid rgba(0, 0, 0, 0);
        transition: border-bottom 400ms ease;
        cursor: pointer; }
        #portfolio .portfolio-info1 .p-info span:hover,
        #portfolio .portfolio-info2 .p-info span:hover,
        #portfolio .portfolio-info3 .p-info span:hover,
        #portfolio .portfolio-info4 .p-info span:hover,
        #portfolio .portfolio-info5 .p-info span:hover,
        #portfolio .portfolio-info6 .p-info span:hover {
          border-bottom: 2px solid #f2b134; }
        #portfolio .portfolio-info1 .p-info span i,
        #portfolio .portfolio-info2 .p-info span i,
        #portfolio .portfolio-info3 .p-info span i,
        #portfolio .portfolio-info4 .p-info span i,
        #portfolio .portfolio-info5 .p-info span i,
        #portfolio .portfolio-info6 .p-info span i {
          padding-right: 0.5rem; }
      #portfolio .portfolio-info1 .p-info .p-col-left,
      #portfolio .portfolio-info2 .p-info .p-col-left,
      #portfolio .portfolio-info3 .p-info .p-col-left,
      #portfolio .portfolio-info4 .p-info .p-col-left,
      #portfolio .portfolio-info5 .p-info .p-col-left,
      #portfolio .portfolio-info6 .p-info .p-col-left {
        justify-content: center;
        align-items: stretch;
        flex-direction: column;
        display: flex;
        width: 70%; }
      #portfolio .portfolio-info1 .p-info .p-col-right,
      #portfolio .portfolio-info2 .p-info .p-col-right,
      #portfolio .portfolio-info3 .p-info .p-col-right,
      #portfolio .portfolio-info4 .p-info .p-col-right,
      #portfolio .portfolio-info5 .p-info .p-col-right,
      #portfolio .portfolio-info6 .p-info .p-col-right {
        width: 30%;
        height: 100%;
        opacity: 0.8; }
        #portfolio .portfolio-info1 .p-info .p-col-right img,
        #portfolio .portfolio-info2 .p-info .p-col-right img,
        #portfolio .portfolio-info3 .p-info .p-col-right img,
        #portfolio .portfolio-info4 .p-info .p-col-right img,
        #portfolio .portfolio-info5 .p-info .p-col-right img,
        #portfolio .portfolio-info6 .p-info .p-col-right img {
          width: auto;
          max-height: 100%;
          border: 1px solid #eef6ff; }

#contact {
  justify-content: flex-end;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  position: relative;
  box-sizing: border-box;
  background-image: url(../images/bg-contact.jpg);
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  border-right: 3px solid #ed553b; }

html {
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: #000000;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth; }

/*# sourceMappingURL=main.css.map */
