.gray {
  color: #666666; }

.broken-white {
  color: #eef6ff; }

.top-left {
  position: relative;
  top: 5px;
  right: 90px; }

.bottom-right {
  position: relative;
  bottom: 5px;
  left: 90px; }

.fa-rotate-45 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.container {
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  padding-right: 10%;
  width: 65%;
  height: 100vh; }

#navigation-out {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  position: fixed;
  z-index: 10;
  width: 20%;
  left: 0;
  min-height: 100vh;
  background-color: #000000;
  border-right: 3px solid #eef6ff;
  box-shadow: 1px 0 15px #000000;
  transition: border-right 400ms ease; }
  #navigation-out .nav-content {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    display: flex;
    align-self: center;
    padding-top: 10px;
    width: 100%; }
    #navigation-out .nav-content .nav-header {
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      display: flex;
      padding-left: 15%; }
      #navigation-out .nav-content .nav-header a {
        padding-bottom: 20px;
        text-decoration: none;
        color: #eef6ff;
        font-size: 0.75rem; }
      #navigation-out .nav-content .nav-header span {
        font-size: 2rem;
        font-weight: 600; }
      #navigation-out .nav-content .nav-header i {
        align-self: center; }
    #navigation-out .nav-content .nav-links {
      justify-content: flex-start;
      align-items: stretch;
      flex-direction: column;
      display: flex;
      width: 100%; }
      #navigation-out .nav-content .nav-links .home, #navigation-out .nav-content .nav-links .about-me, #navigation-out .nav-content .nav-links .skills, #navigation-out .nav-content .nav-links .portfolio, #navigation-out .nav-content .nav-links .contact {
        border-bottom: 2px solid #eef6ff;
        transition: border-bottom 400ms ease; }
      #navigation-out .nav-content .nav-links .home:hover {
        border-bottom: 2px solid #112f41; }
      #navigation-out .nav-content .nav-links .about-me:hover {
        border-bottom: 2px solid #068587; }
      #navigation-out .nav-content .nav-links .skills:hover {
        border-bottom: 2px solid #4fb99f; }
      #navigation-out .nav-content .nav-links .portfolio:hover {
        border-bottom: 2px solid #f2b134; }
      #navigation-out .nav-content .nav-links .contact:hover {
        border-bottom: 2px solid #ed553b; }
      #navigation-out .nav-content .nav-links ul {
        justify-content: flex-start;
        align-items: stretch;
        flex-direction: column;
        display: flex; }
        #navigation-out .nav-content .nav-links ul a {
          justify-content: flex-start;
          align-items: center;
          flex-direction: row;
          display: flex;
          color: #eef6ff;
          text-decoration: none;
          font-size: 1.25rem;
          font-weight: 500;
          line-height: 1.5; }
          #navigation-out .nav-content .nav-links ul a .icon {
            justify-content: center;
            align-items: stretch;
            flex-direction: row;
            display: flex;
            width: 15%;
            color: #000000;
            transition: color 400ms ease; }

#navigation-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  width: 5%;
  left: -6%;
  min-height: 100vh;
  background-color: #000000;
  border-right: 3px solid #eef6ff;
  box-shadow: 1px 0 15px #000000;
  transition: border-right 400ms ease; }
  #navigation-in a {
    width: 100%;
    padding: 20px 0 20px 0;
    text-align: center; }
  #navigation-in .slider-bt, #navigation-in .home-bt, #navigation-in .about-me-bt, #navigation-in .skills-bt, #navigation-in .portfolio-bt, #navigation-in .contact-bt {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: flex;
    width: 100%;
    margin: 10px 0 10px 0;
    border-top: 2px solid #eef6ff;
    border-bottom: 2px solid #eef6ff;
    transition: border-top 400ms ease, border-bottom 400ms ease; }
    #navigation-in .slider-bt i, #navigation-in .home-bt i, #navigation-in .about-me-bt i, #navigation-in .skills-bt i, #navigation-in .portfolio-bt i, #navigation-in .contact-bt i {
      color: #eef6ff; }
  #navigation-in .slider-bt:hover {
    border-top: 2px solid #666666;
    border-bottom: 2px solid #666666; }
  #navigation-in .home-bt:hover {
    border-top: 2px solid #112f41;
    border-bottom: 2px solid #112f41; }
  #navigation-in .about-me-bt:hover {
    border-top: 2px solid #068587;
    border-bottom: 2px solid #068587; }
  #navigation-in .skills-bt:hover {
    border-top: 2px solid #4fb99f;
    border-bottom: 2px solid #4fb99f; }
  #navigation-in .portfolio-bt:hover {
    border-top: 2px solid #f2b134;
    border-bottom: 2px solid #f2b134; }
  #navigation-in .contact-bt:hover {
    border-top: 2px solid #ed553b;
    border-bottom: 2px solid #ed553b; }

#home {
  justify-content: flex-end;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  position: relative;
  box-sizing: border-box;
  background-image: url(../images/bg-home.jpg);
  background-attachment: fixed;
  background-size: cover;
  border-right: 3px solid #112f41;
  width: 100%;
  min-height: 100vh; }
  #home .lg {
    font-size: 3rem;
    font-weight: 600;
    padding: 0 0 1rem 0; }
  #home h1 {
    color: #eef6ff;
    font-size: 1.75rem;
    font-weight: 500;
    text-shadow: 1px 1px 6px #000000;
    line-height: 1.3; }
  #home span {
    color: #eef6ff;
    text-shadow: 1px 1px 6px #000000;
    padding: 5rem 0 0 0;
    font-size: 0.75rem; }

#about-me {
  justify-content: flex-end;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  position: relative;
  box-sizing: border-box;
  background-image: url(../images/bg-about-me.jpg);
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  border-right: 3px solid #068587; }

#skills {
  justify-content: flex-end;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  position: relative;
  box-sizing: border-box;
  background-image: url(../images/bg-skills.jpg);
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  border-right: 3px solid #4fb99f; }

#portfolio {
  justify-content: flex-end;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  position: relative;
  box-sizing: border-box;
  background-image: url(../images/bg-portfolio.jpg);
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  border-right: 3px solid #f2b134; }

#contact {
  justify-content: flex-end;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  position: relative;
  box-sizing: border-box;
  background-image: url(../images/bg-contact.jpg);
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  border-right: 3px solid #ed553b; }

html {
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: #000000;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth; }

/*# sourceMappingURL=main.css.map */
