#navigation-out {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  position: fixed;
  z-index: 100;
  width: 20%;
  left: -21%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  border-right: 3px solid #eef6ff;
  box-shadow: 1px 0 15px #000000;
  transition: border-right 400ms ease; }
  #navigation-out .nav-content {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    display: flex;
    align-self: center;
    width: 100%; }
    #navigation-out .nav-content .nav-header {
      justify-content: flex-start;
      align-items: stretch;
      flex-direction: column;
      display: flex;
      padding: 2rem 0 2rem 15%; }
      #navigation-out .nav-content .nav-header span {
        font-size: 2rem;
        font-weight: 600; }
    #navigation-out .nav-content .nav-links {
      justify-content: flex-start;
      align-items: stretch;
      flex-direction: column;
      display: flex;
      width: 100%; }
      #navigation-out .nav-content .nav-links .slider, #navigation-out .nav-content .nav-links .home, #navigation-out .nav-content .nav-links .about-me, #navigation-out .nav-content .nav-links .skills, #navigation-out .nav-content .nav-links .portfolio, #navigation-out .nav-content .nav-links .contact {
        border-bottom: 3px solid #eef6ff;
        transition: border-bottom 400ms ease; }
      #navigation-out .nav-content .nav-links .slider:hover {
        border-bottom: 3px solid #666666; }
      #navigation-out .nav-content .nav-links .home:hover {
        border-bottom: 3px solid #112f41; }
      #navigation-out .nav-content .nav-links .about-me:hover {
        border-bottom: 3px solid #068587; }
      #navigation-out .nav-content .nav-links .skills:hover {
        border-bottom: 3px solid #4fb99f; }
      #navigation-out .nav-content .nav-links .portfolio:hover {
        border-bottom: 3px solid #f2b134; }
      #navigation-out .nav-content .nav-links .contact:hover {
        border-bottom: 3px solid #ed553b; }
      #navigation-out .nav-content .nav-links ul {
        justify-content: flex-start;
        align-items: stretch;
        flex-direction: column;
        display: flex; }
        #navigation-out .nav-content .nav-links ul a {
          justify-content: flex-start;
          align-items: center;
          flex-direction: row;
          display: flex;
          color: #eef6ff;
          text-decoration: none;
          font-size: 1.25rem;
          font-weight: 500;
          line-height: 1.5; }
          #navigation-out .nav-content .nav-links ul a .icon {
            justify-content: center;
            align-items: stretch;
            flex-direction: row;
            display: flex;
            width: 15%;
            color: rgba(0, 0, 0, 0);
            transition: color 400ms ease; }

#navigation-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  width: 5%;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  border-right: 3px solid #eef6ff;
  box-shadow: 1px 0 15px #000000;
  transition: border-right 400ms ease; }
  #navigation-in a {
    width: 100%;
    padding: 20px 0 20px 0;
    text-align: center; }
  #navigation-in .slider-bt, #navigation-in .home-bt, #navigation-in .about-me-bt, #navigation-in .skills-bt, #navigation-in .portfolio-bt, #navigation-in .contact-bt {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: flex;
    width: 100%;
    margin: 10px 0 10px 0;
    border-top: 3px solid #eef6ff;
    border-bottom: 3px solid #eef6ff;
    transition: border-top 400ms ease, border-bottom 400ms ease; }
    #navigation-in .slider-bt i, #navigation-in .home-bt i, #navigation-in .about-me-bt i, #navigation-in .skills-bt i, #navigation-in .portfolio-bt i, #navigation-in .contact-bt i {
      color: #eef6ff; }
  #navigation-in .slider-bt:hover {
    border-top: 3px solid #666666;
    border-bottom: 3px solid #666666; }
  #navigation-in .home-bt:hover {
    border-top: 3px solid #112f41;
    border-bottom: 3px solid #112f41; }
  #navigation-in .about-me-bt:hover {
    border-top: 3px solid #068587;
    border-bottom: 3px solid #068587; }
  #navigation-in .skills-bt:hover {
    border-top: 3px solid #4fb99f;
    border-bottom: 3px solid #4fb99f; }
  #navigation-in .portfolio-bt:hover {
    border-top: 3px solid #f2b134;
    border-bottom: 3px solid #f2b134; }
  #navigation-in .contact-bt:hover {
    border-top: 3px solid #ed553b;
    border-bottom: 3px solid #ed553b; }

.modal {
  display: none;
  position: fixed;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); }

#home {
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  background-image: url(../images/bg-home.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  box-sizing: border-box;
  border-right: 3px solid #112f41;
  width: 100%;
  height: 100vh;
  min-height: 600px; }
  #home h1 {
    color: #eef6ff;
    font-size: 3rem;
    font-weight: 600;
    text-shadow: 1px 1px 6px #000000;
    padding: 0 0 1rem 0; }
  #home p {
    color: #eef6ff;
    font-size: 1.75rem;
    font-weight: 500;
    text-shadow: 1px 1px 6px #000000;
    line-height: 1.3;
    border-left: 4px solid #112f41;
    margin-left: 2rem;
    padding-left: 1rem; }
  #home span {
    color: #eef6ff;
    text-shadow: 1px 1px 6px #000000;
    padding: 5rem 0 0 0;
    font-size: 0.75rem; }

#about-me {
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  background-image: url(../images/bg-about-me.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  border-right: 3px solid #068587; }
  #about-me h1 {
    color: #eef6ff;
    font-size: 1.75rem;
    font-weight: 500;
    text-shadow: 1px 1px 6px #000000;
    align-self: flex-end;
    padding-bottom: 2rem; }
  #about-me img {
    width: 10rem;
    max-height: auto;
    border-radius: 50%;
    border: 2px solid #068587;
    box-shadow: 1px 0 10px #000000; }
  #about-me p {
    text-shadow: 1px 1px 6px #000000;
    font-size: 1.1rem;
    line-height: 1.3;
    border-left: 4px solid #068587;
    margin-left: 2rem;
    padding-left: 1rem; }
  #about-me li {
    text-shadow: 1px 1px 6px #000000;
    font-size: 1.1rem;
    line-height: 1.3; }
    #about-me li::before {
      content: "\2022";
      color: #068587;
      font-weight: bold;
      display: inline-block;
      width: 1rem;
      margin-left: -1rem; }

.personally {
  width: 100%; }

.row1 {
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  display: flex;
  width: 100%; }

.row2 {
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  width: 100%; }
  .row2 ul {
    padding: 2rem 3rem 0 5rem; }

#skills {
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  background-image: url(../images/bg-skills.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  border-right: 3px solid #4fb99f; }
  #skills h1 {
    color: #eef6ff;
    font-size: 1.75rem;
    font-weight: 500;
    text-shadow: 1px 1px 6px #000000;
    line-height: 1.3;
    padding-bottom: 2rem; }
  #skills span {
    text-shadow: 1px 1px 6px #000000;
    font-size: 1.1rem;
    line-height: 1.3; }
  #skills .fab {
    width: 4rem;
    padding: 0.5rem 0 0.5rem 0; }
  #skills li {
    text-shadow: 1px 1px 6px #000000;
    font-size: 1.1rem;
    line-height: 1.3;
    padding: 0.8rem 0 0.8rem 0; }
    #skills li::before {
      content: "\2022";
      color: #4fb99f;
      font-weight: bold;
      display: inline-block;
      width: 1rem; }

.lists {
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  display: flex; }

.list {
  border-left: 4px solid #4fb99f;
  margin-left: 2rem;
  padding-left: 1rem;
  padding-right: 3rem; }

.item {
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  display: flex; }

#portfolio {
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  background-image: url(../images/bg-portfolio.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  min-height: 800px;
  border-right: 3px solid #f2b134;
  overflow: hidden; }

.portfolio-overview {
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 20;
  right: 0; }

.p-row {
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: 50%; }

.p-item {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
  position: relative;
  box-sizing: content-box;
  border: 1px solid #eef6ff;
  width: 90%;
  height: 80%;
  margin: 1rem;
  cursor: pointer;
  transition: background-color 500ms ease; }
  .p-item:hover {
    background-color: rgba(238, 246, 255, 0.2); }
  .p-item:hover::before {
    transform: scale(1.05, 1); }
  .p-item:hover::after {
    transform: scale(1, 1.05); }
  .p-item::before, .p-item::after {
    content: '';
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px; }
  .p-item::before {
    border-top: 1px solid #f2b134;
    border-bottom: 1px solid #f2b134;
    transform: scale(0, 1);
    transition: transform ease-out 250ms; }
  .p-item::after {
    border-left: 1px solid #f2b134;
    border-right: 1px solid #f2b134;
    transform: scale(1, 0);
    transition: transform ease-out 250ms; }

.item1-button h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #f2be54;
  text-align: center; }

.item2-button h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  text-shadow: 2px 2px #000000;
  text-align: center; }

.item3-button h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  color: #1e1f26;
  text-align: center; }

.portfolio-info1,
.portfolio-info2,
.portfolio-info3,
.portfolio-info4,
.portfolio-info5,
.portfolio-info6 {
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  right: -100%; }

.p-info {
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: 80%; }
  .p-info h1 {
    padding-bottom: 2rem; }
  .p-info p {
    color: #ffffff;
    text-shadow: 1px 1px 6px #000000;
    font-size: 1.1rem;
    line-height: 1.3;
    border-left: 4px solid #f2b134;
    margin-left: 2rem;
    padding-left: 1rem;
    padding-right: 1rem; }
  .p-info span {
    color: #eef6ff;
    text-shadow: 1px 1px 6px #000000;
    font-size: 1.1rem;
    line-height: 1.3;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    transition: border-bottom 400ms ease;
    cursor: pointer; }
    .p-info span:hover {
      border-bottom: 2px solid #f2b134; }
    .p-info span i {
      padding-right: 0.5rem; }

.p-col-left {
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  display: flex;
  width: 70%; }

.p-col-right {
  width: 30%;
  height: 100%;
  opacity: 0.8; }
  .p-col-right img {
    width: auto;
    max-height: 100%;
    border: 1px solid #eef6ff; }

.portfolio-info1 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #f2be54; }

.portfolio-info2 h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  text-shadow: 2px 2px #000000; }

.portfolio-info3 h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  color: #1e1f26; }

#contact {
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  background-image: url(../images/bg-contact.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  border-right: 3px solid #ed553b; }

.c-wrapper {
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  display: flex;
  width: 100%;
  height: 100%; }

.c-col {
  width: 45%;
  height: 90%; }

.c-info {
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 75%;
  border: 1px solid #eef6ff; }
  .c-info h2 {
    color: #eef6ff;
    font-size: 1.75rem;
    font-weight: 500;
    text-shadow: 1px 1px 6px #000000; }
  .c-info a {
    text-decoration: none;
    color: #eef6ff;
    text-shadow: 1px 1px 6px #000000;
    line-height: 1.5; }

.c-social {
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  display: flex;
  width: 100%;
  height: 25%;
  border: 1px solid #eef6ff; }
  .c-social i {
    color: #eef6ff;
    transition: color 300ms ease; }
    .c-social i:hover {
      color: #ed553b; }

.c-map {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 75%;
  border: 1px solid #eef6ff; }
  .c-map h1 {
    font-size: 5rem; }
  .c-map h2 {
    padding-top: 4rem; }

.c-address {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
  width: 100%;
  height: 25%;
  border: 1px solid #eef6ff; }

html {
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: #000000;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth; }

.gray {
  color: #666666; }

.broken-white {
  color: #eef6ff; }

.container {
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  width: 80%;
  height: 100%; }

.next-btn {
  position: absolute;
  bottom: 0;
  cursor: pointer;
  z-index: 40; }
  .next-btn i {
    color: #eef6ff; }

/*# sourceMappingURL=main.css.map */
